<?xml version="1.0" encoding="ISO-8859-1" ?>
<?xml-stylesheet type="text/xsl" href=""?>

<networkplugin>
    <name>MdotM</name>
    <version>1.0</version>
    <networkid>MDOTM</networkid>
    <signuplink>http://www.mdotm.com/</signuplink>
    <info_content><![CDATA[
        <h3>Network Info</h3>MdotM takes the complexity out of advertising and helps you the advertiser target users more accurately, efficiently, and cost-effectively through our direct partnerships with publishers and real-time bidding exchanges. We help you bid on users that bring you the most value through real-time atttribution — leading to improved conversion rates and increased campaign ROI.<br><br><h3>Ad Formats</h3>Mojiva supports both Banner Ads and Text Ads<br><br><h3>Best Countries</h3>USA
    ]]></info_content>
    <banner_support>1</banner_support>
    <interstitial_support>0</interstitial_support>
	<pub_ids>
	<pubid>Partner Key</pubid>
	<pubid>API Key</pubid>
	<pubid>Secret Key</pubid>
	<pubid>App Key</pubid>
	</pub_ids>
</networkplugin>